body,
html {
  height: 100%;
}

.bg {
  background-image: url("../../assets/img/Background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */

.nav_bar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
}

.boxed {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  cursor: pointer;
  padding-top: 7px;
  transition: transform 0.2s;
  text-decoration: none;
  height: 30px;
}

.boxed:hover {
  background-color: white;
  transform: scale(1.1);
  background-color: rgba(167, 120, 120, 0.5);
  opacity: 0.5;
  cursor: pointer;
}
