/* TEMPLATES */

.jumbotron {
  background-size: cover;
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  width: 100%;
}

/* FOOTER */
.footerBox {
  display: flex;
  height: 12vh;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}
.textbox {
  display: flex;
  justify-content: center;
  width: 300px;
}

.textDisplay {
  color: blue;
}
