/* TEMPLATES */

.jumbotron {
  background-size: cover;
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  width: 100%;
}

/* FOOTER */
.footerBox {
  display: flex;
  height: 12vh;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}
.textbox {
  display: flex;
  justify-content: center;
  width: 300px;
}
/* OTHER */
.bodyExtends {
  display: flex;
  background-color: blue;
  height: 100vh;
  width: 100;
}
.contactBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 1000px;
  width: 1000px;
  z-index: 200;
}
.whoamiBody {
  z-index: 1;
  display: flex;
  flex: 1;
  margin-left: 10%;
  margin-right: 10;
  margin-top: 10;
  margin-bottom: 10;
  min-width: 300px;
  padding: 30px;
  background-color: blue;
}
/* TEMPLATESCROLL */
