<!DOCTYPE html>
<html lang="en">
  <head> {%block  head%}
    <meta charset="UTF-8" />
    <title>{% block  title %} H. Joncour {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/CSS/template.css"> {% endblock %}
</head>
  <body>
  {% block  contents %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-transparent" style="background-color: rgb(245, 245, 245);">
        <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
            <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">Who am I</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">Skills</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">CV</a></li>
            <li class="nav-item"><a href="template.html" class="nav-link">Contact</a></li>
       </ul>
      </nav>
      <div class="indexMainBody">
        <div> {% block  contents %}

        {% endblock %}
        </div>
      </div>
        <footer class="footerBox"> {% block  foot %}
                <div class="newsletter">
                  <label style="color: white;">If you want to receive news from me:</label>
                  <form>
                    <input
                      class="textbox"
                      type="text"
                      text="email"
                      placeholder=" Enter your email right here"
                    />
                    <button type="button" style="margin-left: 5px">
                      Subscribe
                    </button>
                  </form>
                </div>
            {% endblock %}
          </footer>
  </body>
</html>
