{% extends 'templateDisplay.html' %}
<!-- FOR CLARITY PURPOSE -->
{% block head %} <title>Login</title> {% endblock %}
<!-- FOR CLARITY PURPOSE -->
{% block bodyTitle %}
<h1 class="display-4 text-center">My Account</h1>
{% endblock %}
<!-- FOR CLARITY PURPOSE -->
--> {% block body1 %}
<div>
  <p>
    This is your account page {{ current_user.id }}
  </p>
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="myMessages">Your message box</a></li>
    <!-- <li><a href="myBlog">Your blog posts</a></li> WORK IN PROGRESS -->
    <li><a href="statistics">See Statistics</a></li>
    <li><a href="post">Make a new blog post</a></li>
    <li><a href="logout">Log out</a></li>
  </ul>
</div>
{% endblock %}
