{% extends 'templateBlog.html' %} {% block head %}
<title>Blog</title>
{% endblock %}
<!--COMMENT-->
{% block bodyTitle %}
<h1 class="display-4 text-center">Articles</h1>
{% endblock %}
<!--COMMENT-->
{% block SubTitle %}
<p>{{ number}} articles</p>
{% endblock %}
{% block columns %}
<thead>
  <tr>
    <th>ID</th>
    <th>Author</th>
    <th>Creation Date</th>
    <th>Title</th>
  </tr>
</thead>

{% endblock %}

<!--COMMENT-->
{% block body1 %}

<div class="container">
  <ul class ="colection with-header">

    {% for article in lines %}
      {% for element in article %}
      <li>{{article[element]}}</li>
    {% endfor %}    {% endfor %}

  </il>
</div>

{% endblock %}
