{% extends 'template.html' %} {% block head %}
<title>Login</title>
{% endblock %}
<!--COMMENT-->
{% block bodyTitle %}
<h1 class="display-4 text-center">Login</h1>
{% endblock %}
<!--COMMENT-->
{% block body1 %}
<div class="d-flex justify-content-around" style="background-color: white;">
  <div
    class="d-flex flex-sm-wrap align-items-center justify-content-center"
    style="border-radius: 0; margin: 30px; background-color: white; max-width: 70%; min-width: 300px; max-height: 70vh"
  >
    <p>Login</p>
  </div>
</div>
{% endblock %}
