{% extends 'templateList.html' %} {% block head %}
<title>Projects</title>
{% endblock %}
<!--COMMENT-->
{% block bodyTitle %}
<h1 class="display-4 text-center">Projects</h1>
{% endblock %}
<!--COMMENT-->
{% block SubTitle %}
<p>Values from the list: {{ number }}</p>
{% endblock %}
{% block columns %}
<thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Language</th>
    <th>Creation Date</th>
    <th>URL</th>
  </tr>
</thead>

{% endblock %}

<!--COMMENT-->
{% block body1 %}

<div class="container">
  <ul class ="colection with-header">

    {% for line in project_lines %}
      {% for element in line %}
    <li>{{element[line]}}</li>
    {% endfor %} {% endfor %}
  </il>
</div>

{% endblock %}
