{% extends 'templateScroll.html' %}
<!-- COMMENT -->
{% block head %}
<title>Who am I</title>
{% endblock %}
<!--COMMENT-->
{% block bodyTitle %}
<h1 class="display-4 text-center">Who am I ?</h1>
{% endblock %}
<!--COMMENT-->
{% block body1 %}
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
</div>
{% endblock %}
<!--COMMENT-->
{% block image %}
<img
  src="{{ image }}"
  alt="picture of me"
  style="min-width: 250px; max-width: 90%;"
/>
{% endblock %}
<!--COMMENT-->
{% block body2 %}
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
</div>
{% endblock %}
<!--COMMENT-->
{% block image2 %}
<img
  src="{{ image2 }}"
  alt="picture of me"
  style="min-width: 250px; max-width: 90%;"
/>
{% endblock %}
<!--COMMENT-->
<!--COMMENT-->
{% block body1 %}
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est at temporibus
    ut, quibusdam rerum ratione pariatur atque dolor, natus perspiciatis magni
    ad eum id neque saepe nihil quasi, non velit.
  </p>
</div>
{% endblock %}
<!--COMMENT-->
{% block image %}
<img
  src="{{ image3 }}"
  style="min-width: 250px; max-width: 90%;"
  alt="picture of me"
/>
{% endblock %}
<!-- COMMENT -->

{% block body4 %}{% endblock %}
